spring:
  application:
    name: vehicle-rental-be
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  profiles:
    active: 'dev'
  jpa:
    hibernate:
      ddl-auto: create-drop
  jackson:
    time-zone: Asia/Jakarta
